{
    "csv_path": "C:\\Users\\Voli\\Desktop\\proiect_practica\\ApplicationML\\csv_files",
    "credentials": "smc-ams-729b78914d73.json",
    "bucket": "data-storage2023",
    "blob": "SMC AMS data.csv",
    "epochs": 100,
    "batch_size": 32,
    "sequence_length": 30,
    "model_output_name": "MachineLearningModel.onnx",
    "metadata_output_name": "output.pkl"
}